* {
    box-sizing: border-box;
}

p, body {
    margin: 0px;
}

body {
    background-color: rgb(241, 241, 241, .5);
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
}

.produtos {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.produto {
    height: 500px;
    width: 350px;
    box-shadow: rgb(0 0 0 / 14%) 0px 6px 10px;
    border-radius: 20px;
    padding: 20px 20px;
    background-color: #FFFFFF;
}

.produto > .image-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.produto > .image-container > img {
    width: 224px;
    height: 224px;
}

.produto > .descricao {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}

.produto > .preco {
    font-size: 26px;
    margin-bottom: 10px;
}

.produto > .desconto {
    margin-bottom: 10px;
}

.produto > .desconto > span:first-child {
    text-decoration: line-through;
    color: rgb(0,0,0,.5);
}

.produto > .desconto > span:last-child {
    color: #FFFFFF;
    background-color: green;
    border-radius: 16px;
    padding: 5px;
}

