
<div>
    <span class="form_switch">

    <h1>Conheça nossas páginas</h1>
        <a href="#"><img src="img/google.png" alt=""></a>
        <a href="#"><img src="img/facebook.png" alt=""></a>
        <a href="#"><img src="img/instagram.png" alt=""></a>
        <a href="#"><img src="img/linkedin.png" alt=""></a>
    </div>
</span>
<footer>
    <p>&copy; 2023 Denúncia Certa. Todos os direitos reservados.</p>
  </footer>
<!-- Ícone do WhatsApp-->
<div id="whatsapp-icon">
    <a href="https://wa.me/8197159248" target="_blank">
        <div class="icon-container">
            <img src="img/whatsapp.png" alt="WhatsApp">
            <span class="tooltip">Suporte</span>
        </div>
    </a>
</div>
<script src="js/js.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>