<%- include("includes/header"); %>


<div class="error404">
    <img src="img/error.png" alt="Computador quebrado" id="computer">
    </div>
    <div id="broken-code">
        <h1>Verifique seu login, caso tenha duvidas fale conosco via Suporte</h1>
        <a href="index"><button type="submit" class="form_button">Realizar Login</button></a>
        <a href="cadastro"><button type="submit" class="form_button">Registrar-se</button></a>

    <%- include("includes/footer"); %>