<%- include("includes/header"); %>

    <div tabindex="0" class="content" onfocus="closeSidebar()" id="content">
        <div class="form">
            <span class="anonimo"><img src="img/problema.png" alt="Logo de denúncia registrada"></span>
            <h3>Denúncia registrada</h3>
    
    
            <form action="">
    
                <div class="message">
                    <img src="img/gota.svg"alt="">
                    <span class="color">Sua informação foi registrada com sucesso, retornaremos o mais breve possível com maiores informações e soluções.</span>
                    <span class="bar"></span>
                </div>
                <a href="formulario" class="form_button">Nova Denúncia</a>
            </form>



<%- include("includes/footer"); %>
