<%- include("includes/header"); %>

<div>
<div class="error404">
    <div id="broken-code">
        <h1>Usuário não autenticado, realizar login para continuar</h1>
        <img src="img/autentication.png" alt="Computador quebrado" id="computer">
        <a href="index"><button type="submit" class="form_button">Realizar Login</button></a>
        <a href="cadastro"><button type="submit" class="form_button">Registrar-se</button></a>




    <%- include("includes/footer"); %>