<%- include("includes/header"); %>


    <div tabindex="0" class="content" onfocus="closeSidebar()" id="content">
        <div class="form">
            <span class="form_title">Cargo Administrador</span>
            <form action="">

                <div class="form_input">
                    <li class="color">Denúncia Deletada - Cargo Administrador <br>
                        cuidado dados importantes<br><br>Equipe Denúncia Certa</li>
                
                    <span class="bar"></span>
                </div>
                <a href="index" class="form_button">Voltar para Login !</a>

            </form>


<%- include("includes/footer"); %>