<%- include("includes/header"); %>


    <div tabindex="0" class="content" onfocus="closeSidebar()" id="content">
        <div class="form">
            <span class="form_title">Preencha todos os Campos!
            </span>
            <form action="">

                <div class="form_input">
                    <li class="color">1- Preencher todos os campos para uma melhor validação <br>
                        2- Evite Fazer varias denúncias do mesmo local, duvidas entre em contato<br>
                        3- Cuidado com anexos maldosos, estamos aqui pra se ajudar ! <br><br>Equipe Denúncia Certa</li>
                
                    <span class="bar"></span>
                </div>
                <a href="formulario" class="form_button">Realizar Denúncia</a>

            </form>
        </div>


<%- include("includes/footer"); %>