<%- include("includes/header"); %>


    <div tabindex="0" class="content" onfocus="closeSidebar()" id="content">
        <div class="form">
            <span class="form_title">Regras Denúncia Certa</span>
            <form action="">

                <div class="form_input">
                    <li class="color">1- Denúncias não poderam ser enviadas se contem palavrões ou linguagem inapropriada <br>
                        2- Evitar duplicar denúncias, caso queira saber o andamento da sua contactar nosso canal de support<br>
                        3- Todas e quaisquer ação que seja de má fé sera retornada com bloqueio a pagina.<br><br>Equipe Denúncia Certa</li>
                
                    <span class="bar"></span>
                </div>
                <a href="formulario" class="form_button">Realizar Denúncia</a>

            </form>


<%- include("includes/footer"); %>