<%- include("includes/header"); %>
S
    <div tabindex="0" class="content" onfocus="closeSidebar()" id="content">
        <div class="form">
            <span class="anonimo"><img src="img/cadeado.png" alt=""></span>
            <h3>Dados para nova senha Enviados</h3>
            <form action="">
                <div class="form_input">
                    <span class="color">Após enviar dados verifique o e-mail no qual foi realizado o Cadastro! Certifiquem-se em entrada ou caixa de spam.</span>
                    <span class="bar"></span>
                </div>
                <a href="sobre"><button type="submit" class="form_button">Sobre nós</button></a>
                <span class="form_switch">
                    <label>Lembrou a senha ? <a href="index"> Realizar Login Aqui</a></label>
                    <label>Dificuldades ? <a href="mailto:equipehydritec@gmail.com">Clique aqui</a></label>
                </span>
            </form>


<%- include("includes/footer"); %>